.link {
  padding: 0 0.5rem;
  color: var(--gray300);
  transition: color 0.2s;

  & + a {
    margin-left: 2rem;
  }

  &:hover {
    color: var(--white);
  }

  &.active {
    color: var(--white);
    font-weight: bold;
  }
}